@model List<DataMartApp.Models.seedData>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Basic Data Mart App under construction connected to development database
    
</p>

<div class="panel panel-info">
    <div class="panel panel-header">
        This is a basic Razor View rendered without WebAPI, its not very dynamic.
    </div>
    <div class="panel panel-body">
        @foreach (var i in Model)
        {
            <br />@(i.name + " Total Sales: $" + i.counter)
        }
    </div>
</div>


<div class="panel panel-success">
    <div class="panel panel-header">
        This is rendered with WebApi and AJAX
    </div>
    <div class="panel panel-body">
        <div>
            <b><a href="@Url.HttpRouteUrl("DefaultApi", new { controller = "Car", action = "GetTop5" })">Show Top 5 priced cars via link</a></b> <br />
            <b><a href="@Url.HttpRouteUrl("DefaultApi", new { controller = "Car", action = "Get" })">Show All Web Api Data via link</a></b>
            <br />

            <b><a style="margin-top:5px" id="showCars" class="btn btn-primary" href="javascript:void(0)">Refresh All Web Api Data on Page</a></b> <br />
            <b><a style="margin-top:5px" id="filterCars" class="btn btn-success" href="javascript:void(0)">Filter Api Data on Page</a></b> <br />
            <b><a style="margin-top:5px" id="createCar" class="btn btn-info"  href="javascript:void(0)">Create a new Car</a></b>
            <div class="input-group" style="margin-top:5px">
                <span class="input-group-addon" id="basic-addon1">🚔</span>
                <input id="inputCar" type="text" class="form-control" placeholder="Add a car - Car Name" aria-describedby="basic-addon1">
            </div>
            <br />
            <ul id="list" style="text-decoration:none;">
                

            </ul>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(function () {
        $('#showCars').click(function () {
            $.ajax({
                url: '@Url.HttpRouteUrl("DefaultApi", new { controller = "Car", action = "Get" })',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json',
                    statusCode: {
                        200: function (data) {
                            $('#list').empty();
                            $.each(data, function (id, car) {
                                var text = car.name + ' Total Sales: $' + car.counter;

                                $('#list').append('<li>' + text + '</li>');
                            })
                        }
                    }
                });
            })

     });

    $(function () {
        $('#filterCars').click(function () {
            $.ajax({
                url: '@Url.HttpRouteUrl("DefaultApi", new { controller = "Car", action = "GetTop5" })',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json',
                    statusCode: {
                        200: function (data) {
                            $('#list').empty();
                            $.each(data, function (id, car) {
                                var text = car.name + ' Total Sales: $' + car.counter;

                                $('#list').append('<li>' + text + '</li>');
                            })
                        }
                    }
                });
            })

     });

    $(function () {
        $('#createCar').click(function () {
            $.ajax({
                url: '@Url.HttpRouteUrl("DefaultApi", new { controller = "Car", action = "Post" })',
                cache: false,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify($("#inputCar").val()),
                statusCode: {
                    200: function (data) {

                        $('#list').empty();
                        $.each(data, function (id, car) {
                            var text = car.name + ' Total Sales: $' + car.counter;
                            $('#list').append('<li>' + text + '</li>');
                        })
                    }
                }
            });
        })

    });
</script>